main .home {
  /* padding: 50px 25px; */
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(31, 31, 61);
}

main .home > div {
  width: 40%;
  height: auto;
  /* background-color: aliceblue; */
}

main .home .leftSection .intro {
  font-size: 3rem;
  margin: 50px 0;
}

main .home .leftSection .intro #myname,
#element {
  color: rgb(127, 255, 244);
}

main .home .leftSection .socialmedia {
  display: flex;
  flex-direction: row;
  height: 5rem;
  width: inherit;
  align-items: center;
  justify-content: space-around;
  /* padding:25px; */
  /* background-color: rgb(81, 96, 108); */
}

main .home .leftSection .socialmedia a {
  text-decoration: none;
  height: inherit;
  width: 56px;
  position: relative;
  /* margin: 2rem; */
}

main .home .leftSection a .github-icon,
main .home .leftSection a .linkedin-icon {
  position: absolute;
  top: 30%;
  left: 15%;
  color: white;
  font-size: 48px;
}

main .home .leftSection .github-icon:hover,
main .home .leftSection .linkedin-icon:hover {
  font-size: 52px;
}

main .home .leftSection a{
  text-decoration: none;
}

main .home .leftSection a button {
  font-size: 1.5rem;
  padding: 10px 5px;
  margin-top: 50px;
  margin-left: 25px;
  border: 3px solid rgb(119, 119, 252);
  border-radius: 10px;
  color: black;
  transition: 0.7s ease;
}

main .home .leftSection a button:hover {
  cursor: pointer;
  background-color: rgb(119, 119, 252);
  color: aliceblue;
  transition: 0.3s ease;
}

main .home .rightSection {
  display: flex;
  justify-content: center;
}

main .home .rightSection .photo {
  position: relative;
  width: 50vh;
  height: 50vh;
  overflow: hidden;
  border: 5px solid rgb(224, 202, 58);
  border-radius: 50%;
}

main .home .rightSection .photo img {
  width: 100%;
  height: auto;
}
