main .skills {
  background-color: white;
  padding-bottom: 50px;
}

main .skills .skillset {
  margin-left: 5rem;
  width: 80%;
}

main .skills .skillset h1 {
  /* margin-bottom: ; */
  font-size: 2.5rem;
}

main .skills .skillset .line {
  display: block;
  height: 3px;
  width: 50%;
  margin-bottom: 50px;
  background-color: #000885;
}

main .skills .skillset .carousel-skills {
  margin-left: 40px;
  margin-bottom: 100px;
  border-radius: 16px;
  background-color: beige;
  width: 700px; /* Adjust to fit your content */
  height: 400px; /* Adjust to fit your content */
  overflow: hidden; /* Hide the images outside of the container */
  position: relative;
}

main .skills .skillset .carousel-skills .carousel-cards {
  display: flex;
  /* flex-direction: column; */
  transition: transform 1s ease-in-out; /*Smooth transition between slides*/
}

main .skills .skillset .carousel-skills .carousel-cards .card {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 400px;
  background-color: aliceblue;
  color: black;
  align-items: center;
  justify-content: center;
}

main .skills .skillset .carousel-skills .carousel-cards .card .wrapper {
  background-color: #d3f5f5;
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .skills .skillset .carousel-skills .carousel-cards .card .wrapper .upper {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main
  .skills
  .skillset
  .carousel-skills
  .carousel-cards
  .card
  .wrapper
  .upper
  .symbol {
  height: 100px;
  width: 100px;
  overflow: hidden;
}

main
  .skills
  .skillset
  .carousel-skills
  .carousel-cards
  .card
  .wrapper
  .upper
  .symbol
  img {
  height: 100px;
  width: 100px;
}

main
  .skills
  .skillset
  .carousel-skills
  .carousel-cards
  .card
  .wrapper
  .upper
  p {
  color: black;
  font-size: xx-large;
  font-weight: 600;
}

main .skills .skillset .carousel-skills .carousel-cards .card .wrapper span {
  background-color: #6c9fdb;
  height: 3px;
  width: 54%;
  margin: 1.7rem 0;
  margin-left: -121px;
}

main .skills .skillset .carousel-skills .carousel-cards .card .wrapper > p {
  color: black;
  font-size: larger;
  margin-left: 100px;
  margin-top: 5px;
  line-height: 1.7em;
}

main .skills .skillset .languages {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 44px;
}

main .skills .skillset .languages .language-container {
  margin: auto;
  padding-bottom: 11px;
}

.inactive {
  display: flex;
  width: fit-content;
}

.active {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

main .skills .skillset .languages .language-container .items {
  height: 100px;
  width: 150px;
  padding: 15px;
  margin: 11px;
  background-color: whitesmoke;
  color: black;
  border-radius: 7%;
}

main .skills .skillset .languages .language-container .items img{
  height: inherit;
  width: inherit;
  object-fit: contain;
}

main .skills .skillset .languages button {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  bottom: 0px;
  left: 50%;
  background: transparent;
  border: none;;
}

main .skills .skillset .languages button:hover {
  cursor: pointer;
}

main .skills .skillset .languages button .stroke{
  display: block;
  height: 3px;
  width: 28px;
  background-color: black;
  position: absolute;
  top: 21px;
  transition: 0.3s ease;
}

.up-left {
  left: 0px;
  transform: rotate(-45deg);
}

.up-right {
  left: 18px;
  transform: rotate(45deg);
}

.down-left {
  left: 0px;
  transform: rotate(45deg);
}

.down-right {
  left: 18px;
  transform: rotate(-45deg);
}
