main .about_me{
  background-color: #F3F4F6;
}

main .about_me .about{
  margin-left: 5rem;
  width: 80%;
}

main .about_me .about h1{
  /* margin-bottom: ; */
  font-size: 2.5rem;
}

main .about_me .about .line{
  display: block;
  height: 3px;
  width: 50%;
  margin-bottom: 50px;
  background-color: #000885;
}

main .about_me .about p {
  font-size: x-large;
  line-height: 45px;
  margin-bottom: 1px;
}

main .about_me .about h2{
  padding: 40px 0;
}

main .about_me .qualification-wrapper{
  padding-top: 40px;
  width: 85%;
  margin-left: 110px;
}
main .about_me .qualification-wrapper .qualification-timeline{
  display: block;
  height: 2px;
  width: 100%;
  background-color: black;
  /* display: flex;
  justify-content: space-between; */
}

main .about_me .qualification-wrapper .qualification{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

main .about_me .qualification-wrapper .qualification .achivements{
  position: relative;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
}

main .about_me .qualification-wrapper .qualification .achivements img{
  position: absolute;
  width: 50px;
  height: auto;
  top: -60px;
  left: -25px;
}

main .about_me .qualification-wrapper .qualification .achivements .arrow{
  display: block;
  height: 8vh;
  width: 2px;
  background-color: black;
}